@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.LeftSide {
  font-family: "Jua", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;

  width: 15%;
  height: 100%;

  background: #85f4ff;
  border: {
    left: 5px solid black;
    bottom: 5px solid black;
  }

  .Link {
    text-decoration: none;
    font-size: 1.5em;
    width: 100%;
    padding: {
      left: 5px;
      top: 10px;
      bottom: 10px;
    }
    span:not(.Arrow) {
      display: inline-flex;
      align-items: center;
      height: 40px;
    }
    &:hover {
      span:not(.Arrow) {
        color: hotpink;
      }
    }
    &.active {
      color: red;
    }
  }

  .Arrow {
    position: absolute;
    right: -5px;
    width: 0;
    height: 0;

    border-color: transparent #42ceff transparent currentcolor;
    border-style: solid solid solid none;
    border-width: 20px;
  }
}
