@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.LoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  .Login {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: skyblue;

    .Logo {
      height: 15%;
      width: 30%;
      background-color: green;
      margin-bottom: 1em;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      font-size: xx-large;
    }

    .KakaoLogin {
      font-family: "Jua", sans-serif;
      font-size: large;
      font-weight: bold;

      min-width: 200px;
      background-color: yellow;
      border: 4px solid black;
      border-radius: 0.5em;
      width: 30%;
      height: 10%;
      transition-duration: 0.15s;
      &:hover {
        background-color: rgb(248, 235, 46);
        transition-duration: 0.15s;
        transform: scale(0.95);
        cursor: pointer;
      }
    }
  }
}
